<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.AlbumDao">
	<resultMap type="com.baizhi.entity.Album" id="rm">
		<id column="aid" property="id"/>
		<result column="atitle" property="title"/>
		<result column="score" property="score"/>
		<result column="brodcast" property="brodcast"/>
		<result column="author" property="author"/>
		<result column="brief" property="brief"/>
		<result column="publicTime" property="publicTime"/>
		<result column="count" property="count"/>
		<result column="coverImg" property="coverImg"/>
		<result column="status" property="status"/>
		<collection property="children" ofType="com.baizhi.entity.Chapter">
			<id column="cid" property="id"/>
			<result column="ctitle" property="title"/>
			<result column="url" property="url"/>
			<result column="size" property="size"/>
			<result column="duration" property="duration"/>
			<result column="createTime" property="createTime"/>
		</collection>
	</resultMap>
	
	<!-- 查询所有 -->
 	<select id="selectAll" resultMap="rm">
 		select a.id aid,a.title atitle,a.score,a.brodcast,a.author,a.brief,a.publicTime,a.count,a.coverImg,a.`status`,
			   c.id cid,c.title ctitle,c.url,c.size,c.duration,c.createTime
		from album a left join chapter c on a.id = c.album_id 
 	</select>
 	
 	<!-- 添加专辑 -->
 	<insert id="insertItem">
		insert into `album`(id,title,score,brodcast,author,brief,publicTime,count,coverImg,`status`)
		value(#{id},#{title},0,#{brodcast},#{author},#{brief},#{publicTime},#{count},#{coverImg},1)
 	</insert>
  
</mapper>






